In [32]:
import pandas as pd
import requests

In [33]:
responses = [requests.get(f'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={i}').json()['results'] for i in range(1,10)]

In [34]:
df = pd.concat(list(map(lambda x: pd.DataFrame(x)[['id','title','overview','release_date','popularity','vote_average','vote_count']], responses)))

In [35]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,122.958,8.7,18149
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,89.789,8.7,24033
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,63.437,8.6,10956
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,28.296,8.6,4156
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,55.194,8.6,14204
...,...,...,...,...,...,...,...
15,532067,KONOSUBA – God's blessing on this wonderful wo...,It is not strange that the Demon Lord's forces...,2019-08-30,23.941,8.2,467
16,19,Metropolis,In a futuristic city sharply divided between t...,1927-02-06,19.274,8.2,2352
17,508442,Soul,Joe Gardner is a middle school teacher with a ...,2020-12-25,73.290,8.2,9243
18,600354,The Father,A man refuses all assistance from his daughter...,2020-12-23,20.309,8.2,2673
19,20941,Innocent Voices,"A young boy, in an effort to have a normal chi...",2005-01-28,14.234,8.2,396

In [36]:
df.shape

(180, 7)

In [37]:
df.to_csv('movies.csv')